@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Merienda:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  font-family: 'Merienda', cursive;
}
.main {
  width: 500px;
  height: 280px;
  text-align: center;
  margin: 30px auto;
  border: none;
  border-radius: 24px;
  background-image: linear-gradient(to bottom right,#0b3d5c,#2689ba ,#084769);
  transition: all 0.5s linear;
}

.gameDiv {
  margin-top: 50px;
  padding-top: 30px;
}  

.gameText {
  padding: 10px 10px;
}
h2:first-child {
    color: rgb(12, 79, 12);
}

h2:nth-child(even) {
    color: rgb(96, 36, 36);
}

h2:last-child {
    color: rgb(17, 28, 85);
}

.butn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choiceBtn {
  margin: 0 25px;
  padding: 3px 12px;
}

button {
  text-align: center;
  border: none;
  border-radius: 12px;
  font-family: "Kalam", cursive;
  font-size: 1.1rem;
  box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
  color: #7eb5bf;
  background-color: #001d3d;
  transition: all 0.5s linear;
  cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background-color: #164476;
    color: #fff;
}

button:active {
    transform: scale(0.95);
}
.main:hover {
    transform: scale(1.02);
}